@model Employee

@{
    ViewBag.Title = "Create New Employee";
}

<h4>Employee Form</h4>
<hr />

<div class="mt-3">
    <form asp-action="CreateEmployee" asp-controller="Employee" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="form-group row col-sm-6">
                <label class="col-sm-2 col-form-label" asp-for="FirstName"></label>
                <input asp-for="FirstName" class=" col-sm-6 form-control" style="margin-left:30px;" placeholder="First Name" type="text" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group row col-sm-6">
                <label asp-for="LastName" class="col-sm-2 col-form-label"></label>
                <input asp-for="LastName" class=" col-sm-6 form-control" style="margin-left:30px;" placeholder="Last Name" type="text" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Phone" class="col-sm-2 col-form-label"></label>
            <input asp-for="Phone" class=" col-sm-8 form-control" placeholder="Phone" type="number" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="Email" class="col-sm-2 col-form-label"></label>
            <input asp-for="Email" class="col-sm-8 form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="Designation" class="col-sm-2 col-form-label"></label>
            <input asp-for="Designation" class="col-sm-8 form-control" />
        </div>
        <div class="form-group row">
            <label asp-for="Department" class="col-sm-2 col-form-label"></label>
            <select asp-for="Department" asp-items="Html.GetEnumSelectList<DepartmentType>()" class="col-sm-8 form-control">
             <option value="" selected="selected" >Please Select</option>
            </select>
            <span asp-validation-for="Department" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <button type="submit" value="Create" style="margin-top:30px;" class="col-md-6 btn btn-primary"> Create</button>
        </div>
    </form>
    <div class="form-group row">
        <a asp-action="Index" asp-controller="Employee" class="col-md-8">Back To List</a>
    </div>
    </div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
